name: CI-CD Pipeline

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Setup Snowflake Infrastructure
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_ORGANIZATION: ${{ secrets.SNOWFLAKE_ORGANIZATION }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.2

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: ./terraform
        run: |
          terraform plan -input=false \
            -var "account=${SNOWFLAKE_ACCOUNT}" \
            -var "organization=${SNOWFLAKE_ORGANIZATION}" \
            -var "user=${SNOWFLAKE_USER}" \
            -var "password=${SNOWFLAKE_PASSWORD}" \
            -var "role=${SNOWFLAKE_ROLE}" \
            -var "warehouse=${SNOWFLAKE_WAREHOUSE}"

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: ./terraform
        run: |
          terraform apply -auto-approve -input=false \
            -var "account=${SNOWFLAKE_ACCOUNT}" \
            -var "organization=${SNOWFLAKE_ORGANIZATION}" \
            -var "user=${SNOWFLAKE_USER}" \
            -var "password=${SNOWFLAKE_PASSWORD}" \
            -var "role=${SNOWFLAKE_ROLE}" \
            -var "warehouse=${SNOWFLAKE_WAREHOUSE}"
